RewriteEngine on
RewriteRule ^artikels$ artikel-overzicht.php
RewriteRule ^artikels/toevoegen$ artikels-toevoegen-form.php
RewriteRule ^artikels/toevoegen/confirm$ artikel-toevoegen.php
RewriteRule ^artikels/zoeken$ artikel-zoeken-redirect.php
RewriteRule ^artikels/zoeken/content/(\S*)$ artikel-zoeken.php?opWoordZoeken=$1
RewriteRule ^artikels/zoeken/datum/(\S*)$ artikel-zoeken.php?opDatumZoeken=$1